.trade-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.trade-input-text {
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.players-group,
.picks-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}

.player-selections,
.pick-selections {
  padding-bottom: 5px;
}
